@charset "utf-8";
#wrap{
    width:800px;
    /*background-color: #1da577;*/
    margin: 50px auto;
    overflow: hidden;
}
h3{
    line-height: 50px;
    text-align: center;
}
.nav{
    position: relative;
    height:40px;
}
.nav>li{
    float: left;
    height:100%;
    width:33.3333%;
    line-height: 40px;
    text-align: center;
    color: #000;
    cursor: pointer;
}
.nav>.hot{
    color: #ffff;
}
.nav>li.hot:nth-child(1) ~ .box{
    transform: translate(0,0);
}
.nav>li.hot:nth-child(2) ~ .box{
    transform: translate(100%,0);
}
.nav>li.hot:nth-child(3) ~ .box{
    transform: translate(200%,0);
}
.box{
    position: absolute;
    top:0;
    left:0;
    width:33.3333%;
    height:100%;
    background-color: #4ebbfe;
    z-index: -1;
    transition: 0.5s;
}
.main{
    width:300%;
    transition: 0.5s;
}
.con{
    float: left;
    width:33.3333%;
    margin-top: 40px;
}
.con>li{
    height:50px;
    line-height: 50px;
    text-indent: 10px;
    border-bottom: 1px solid #000;
    color: #89919a;
}
time{
    float: right;
    margin-right: 10px;
}
del{
    float: right;
    text-decoration: none;
    cursor: pointer;
    margin-right: 10px;
    color: red;
}

button{
    width:100px;
    height:35px;
    background-color: #2ed977;
    color: #fff;
    border: none;
    margin: 20px 0 0;
    transition: 0.5s;
    cursor: pointer;
}
button:hover{
    box-shadow: 2px 2px 5px #000;
}
.add{
    display: none;
    margin: 20px 0;
    line-height: 39px;
    /*vertical-align: middle;*/
}
.add>input[type=text]{
    text-indent: 10px;
    padding: 0;
    display: inline-block;
    width:300px;
    height:35px;
    outline: none;
    border-radius: 5px;
}
.add>input[type=button]{
    width:100px;
    height:39px;
    background-color: #4ebbfe;
    color: #fff;
    border:none;
    vertical-align: bottom;
    border-radius: 5px;
}